.nav_15 nav{
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  position: relative;
}
.nav_15 i{
  font-size: 25px;
  position: absolute;
  right: 5%;
  top: 35%;
}
.nav_15 ul{
  grid-column: 2/2;
  margin: auto auto;
  position:relative;
  left: 20px;
  justify-content: space-around;
  position: absolute;
  top: 75%;
  right: 40px;
  min-width: fit-content;
  background-color: lightcoral;
  color: white;
  font-family: "Future";
  border-radius: 15px;
  border-top-right-radius: 0px;
  display: none;
  z-index: 1;
}
.nav_15 ul li{
  display: block;
  padding: 10px 30px;
  user-select: none;
}
.nav_15 .logo{
  margin: auto 20px;
  font-family: "Potra";
  font-size: 30px;
}
.banner_top{
  background-image: url("../Images/Background_Top.jpg");
  height: 450px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.overlay{
  background-color: rgba(0,0,0,.7);
  height: 100%;
  position: relative;
}
.overlay .top_band{
  text-align: center;
  color: white;
  font-family: "Potra";
  font-size: 100px;
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%) translateY(-30%);
}
.overlay h4{
  text-align: center;
  color: white;
  font-family: "Future";
  font-size: 30px;
  position:absolute;
  width: fit-content;
  top: 70%;
  left: 50%;
  transform: translateX(-50%) translateY(-70%);
}

.Main_Content{
  padding: 20px;

}
.Heading{
  font-family: "Content";

}
.Content{
  padding: 20px 20px;
  font-family: "Content";
  font-weight: 100;
  border-left: 2px solid;
  margin: 30px 0px;
  border-bottom-left-radius: 50px;
}
.SlideShow .Main_Slide{
  width: 100%;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 10px grey;
}
.SlideShow .Main_Img{
  border-radius: 15px;
  width: 100%;
}
.SlideShow button{
  width: 100px;
  height:50px;
  border-radius: 15px;
  border: 0px;
  background: lightcoral;
  color: white;
  font-size: 18px;
  font-family: "Future";
  flex: 1;
  margin: 0px 10px;
  outline: none;
  z-index: 1;
}
.controls{
  display: flex;
  flex-direction:row;
  padding: 20px;
}
.Quotes{
  font-size: 20px;
  margin: 30px 0px;
}
.AD{
  text-align: center;
}
.footer_15{
  height: 250px;
  background-image: url("../Images/Background_Top.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.footer_15 .overlay{
  padding: 20px;
}
.footer_main{
  display: flex;
}
.social{
  flex: 1;
}
.footer_15 h3{
  font-size: 25px;
  color: grey;
  font-family: "Content";
}
.icons i{
  color: grey;
  font-size: 30px;
  padding: 10px 10px;
  z-index: 1;
}
.info{
  flex: 1;
  color: grey;
  text-align: center;
}
.copyright{
  color: grey;
  position: absolute;
  bottom: 15%;
  width: 100%;
}
.copyright div{
  width: 90%;
  text-align: center;
}
footer{
  overflow-x: hidden;

}
.Middle_info{
  display: none;
}
