img{
  width:100%;
}
.nav_15 nav{
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  position: relative;
}
body{
  overflow-x: hidden;
  height: 2000px;
}
.nav_15 i{
  font-size: 25px;
  position: absolute;
  right: 5%;
  top: 35%;
}
.nav_15 ul{
  grid-column: 2/2;
  margin: auto auto;
  position:relative;
  left: 20px;
  justify-content: space-around;
  position: absolute;
  top: 75%;
  right: 40px;
  min-width: fit-content;
  background-color: lightcoral;
  color: white;
  font-family: "Future";
  border-radius: 15px;
  border-top-right-radius: 0px;
  display: none;
  z-index: 1;
}
.nav_15 ul li{
  display: block;
  padding: 10px 30px;
  user-select: none;
}
.nav_15 .logo{
  margin: auto 20px;
  font-family: "Potra";
  font-size: 30px;
}
.overlay{
  background-color: rgba(0,0,0,.7);
  height: 100%;
  position: relative;
}

.Navigational_Page_Links{
  background-color: lightcoral;
}
.Top_List{
  min-height: 170px;
}

.Navigational_Page_Links li{
  color: white;
  font-size: 25px;
  text-align: center;
  list-style: none;
  padding: 5px;
  font-family: "Future";
  user-select: none;
  cursor: pointer;
}
.Navigational_Page_Links:hover li{
  filter: blur(2px);
}
.Navigational_Page_Links li:hover{
  filter: blur(0px);
  transform: scale(1.2);
}
.History_Growth{
  overflow-x: hidden;
  min-width: fit-content;
  display: none;
}
.Heading{
  color: grey;
  padding: 20px;
  text-align: center;
}
.sub_heading{
  font-size: 20px;
  font-family: "Content";
  padding: 10px 10px;
}
.Content{
  font-family: "Content";
  padding: 10px 20px;
  text-align: center;
}

.Activities{
  min-width: fit-content;
  overflow-x: hidden;
  display: none;
}
.Actv{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.Actv li{
  list-style: none;
  padding: 10px 15px;
  text-align: center;
  color: grey;
  font-family: "Content";
}
.Title_Image{
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

}
.Projects , .Projects > *{
  width: 100%;
  min-width: fit-content;
  overflow-x: hidden;
}
.Content .table{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px 0px;
}
.table .data,.head{
  padding: 10px;
  border: 1px solid grey;
  grid-gap: 1fr;
}



.footer_15{
  height: 250px;
  background-image: url("../Images/Background_Top.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
.footer_15 .overlay{
  padding: 20px;
}
.footer_main{
  display: flex;
}
.social{
  flex: 1;
}
.footer_15 h3{
  font-size: 25px;
  color: grey;
  font-family: "Content";
}
.icons i{
  color: grey;
  font-size: 30px;
  padding: 10px 10px;
  z-index: 1;
}
.info{
  flex: 1;
  color: grey;
  text-align: center;
}
.copyright{
  color: grey;
  position: absolute;
  bottom: 15%;
  width: 100%;
}
.copyright div{
  width: 90%;
  text-align: center;
}
footer{
  overflow-x: hidden;
}
.Middle_info{
  display: none;
}
